.contenedor-testimonio {
    width: 1170px;
    height: 400px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: whitesmoke;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
    margin-top: 50px;
    
}

.imagen-t {
    height: 100%;
    width: 100%;
}

.contenedor-tex {
    background-color: #37424a;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 40px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5rem;
}

.nombre-tes{
    color: whitesmoke;
    font-size: 1.3rem;
}

.cargo-tes{
    color: whitesmoke;
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
}

.texto-tes{
    color: whitesmoke;
    font-size: 1.1rem;
    text-align: justify;
}